.share {
  right:0;
  bottom:0;
  position:fixed;
  width: 55px;
  height: 55px;  
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
  border-radius: 50px;
  transform: translate(-15%, -15%);
}

.share:hover {
  cursor: pointer;
}

.one {  
  right:0;
  bottom:0;
  position:fixed;  
  transform: translate(-20%, -9%);  
}

#ifr1{
  min-width: 315px; 
  min-height: 500px; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white; 
  opacity: 0;
  border: 1px solid rgba(105, 107, 105, 0.281);
}

#msgPrincipal{  
  top: -17px;
  position: absolute;
  width: 297px;    
  padding: 10px;  
  border-bottom: 1px solid rgba(105, 107, 105, 0.281);
  padding-top: 20px;
  background-color: #fcfcfc;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

#imgMsgPrincipal{
  width: 40px;
  height: 60px;
  float: left;
  margin-right: 8px;
  margin-top: 4px;
}

#txtMsgPrincipal{
  line-height : 25px;  
  font-family:'Homer Simpson UI';  
  font-weight: 500;  
}

#btnCerrar{
  position: fixed;
  width: 315px;
  top: -17px;
  text-align: right;  
  background-color: white;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-top: 1px solid rgba(105, 107, 105, 0.281);
  border-left: 1px solid rgba(105, 107, 105, 0.281);
  border-right: 1px solid rgba(105, 107, 105, 0.281);
  border-bottom: 1px solid #faf5f5;
}

#btnCerrar i{
  margin-right: 5px;  
}




